p,span,div {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.3em;
}

h1,h2,h3{
  font-weight: bold;
}
p{
  color:#444;
  font-size: .95em;
}
.breadcrumb{
  color: #888;
  margin-bottom: 20px;
  font-size: .9em;
}
